<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157770815332-f8nj79vplt40jfgm3mnc5l29088i665g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157770815332-f8nj79vplt40jfgm3mnc5l29088i665g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157770815332-1k7ldvseum7uuptm3is15r3o60fac4gs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5bflvpGXC8pt69S5HEqiC_9jSKEjeing</string>
	<key>GCM_SENDER_ID</key>
	<string>157770815332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncast</string>
	<key>PROJECT_ID</key>
	<string>ncast-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ncast-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157770815332:ios:3f67b3cdc8404dcb6a8c71</string>
</dict>
</plist>